<% if current_user %>
<h3>Welcome: <%= current_user.email %></h3>
<% else %>
<div class="jumbotron">
<h2>Welcome to the Photo Management App!</h2>
<p class="lead">
You'll love managing your Photos with our application. Sign up!
</p>
</div>
<div class="row">
<div class="plans clearfix">
<div class="col-lg-3 col-lg-offset-3 plan">
<h2>Premium Plan</h2>
<div class="price pull-right">
Price: $10
</div>
<div class="features">
<ul>
<li>Unlimited Image Uploads</li>
<li>Responsive design</li>
<li>Access anywhere</li>
</ul>
</div>
<p>
<%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary sign-up' %>
</p>
</div>
<div class="col-lg-3 plan">
<h2>Amaze Plan</h2>
<div class="price pull-right">
Price: $20
</div>
<div class="features">
<ul>
<li>Unlimited Image Uploads</li>
<li>Responsive design</li>
<li>Access anywhere</li>
<li class='extra'>Unlimited projects</li>
</ul>
</div>
<p>
<%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary sign-up' %>
</p>
</div>
</div>
</div>
<% end %>
    <div class="jumbotron hero">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-7 col-lg-push-6 col-md-4 col-md-push-7 phone-preview">
                    
                    <div class="imac-mockup"><% image_tag 'logo.svg' %> 
                        <div class="screen"></div>
                    </div>
                </div>
                <div class="col-lg-5 col-lg-pull-6 col-md-6 col-md-pull-3 get-it">
                    <h1>Phone</br> to</br> Wall Art</h1>
<h2 style="color:white;">A simple photo app and printing system.</h2>
                    <div class="iphone-mockup">
                        <div class="screen"></div>
                    </div>
                    <p><a class="btn btn-primary btn-lg" role="button" href="#"><span class="fa fa-apple"></span> Available on the App Store</a><a class="btn btn-success btn-lg" role="button" href="#"><span class="fa fa-google"></span> Available on Google Play</a></p>
                </div>
            </div>
        </div>
    </div>
<%= render 'layouts/testimonials' %>  
<%= render 'layouts/features' %>