<nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <%= link_to root_path, class: "navbar-brand navbar-link" do %>
                <%= image_tag 'logo.svg' %> - HUGE GIANT PRINTS - <% end %>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span></span><span></span><span></span><i class="fa fa-navicon"></i> </button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                    <li role="presentation"><%= link_to "Home", root_path %></li>
                    <li role="presentation"> </li>
                    <li role="presentation"><%= link_to "About", pages_about %></li>
                    <li role="presentation"><%= link_to "Contact", pages_contact %></li>

                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Place an Order<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
       <li></li>
                            <li><a href="#">From your Phone</a></li>
                            <li><a href="#">From your Computer</a></li>
                        </ul>
                    </li>
                    <li role="presentation"></li>
                </ul>
            </div>
        </div>
    </nav>